<!DOCTYPE html>
<body lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post" action="/user">
    <div class = "form-group">
        <label>Username
            <input type = "text" name = "username" th:value="${username}">
        </label>
    </div>
    <div class = "form-group">
        <span>Email
            <input type = "email" name = "email" th:value="${email}">
        </label>
    </div>
    <div class = "form-group">
        <label>Password
            <input type = "password" name = "password">
        </label>
    </div>
    <div class = "form-group">
        <label>Verify Password
            <input type = "password" name = "verify">
        </label>
        <p style = "color:red; font-size:xx-large" th:if="${verified}" th:text="${error}"></p>
    </div>
        <div class = "form-group">
            <input type ="submit" value = "Submit" class = "btn btn-success">
        </div>
</form>
</body>
</html>